*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    padding: 5rem;
}

main{
    border-radius: 50%;
    border: 3px solid sandybrown;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ticket_price{
    text-align: center;
    width: 30%;
    padding-bottom: 3rem;

}

#ticket_price h1{
    padding-bottom: 3rem;
    font-size: 2rem;
    color: blueviolet;
}

#ticket_price form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3rem;
    gap: 3rem;
}

#ticket_price form label{
    width: calc(50% - 3rem);
}

#ticket_price form input{
    width: calc(50% - 3rem);
    aspect-ratio: 1 / 1;
    text-align: center;
    font-size: 6rem;
    color: blue;
    border: 3px dotted red;
    border-radius: 50%;
}

.ivy_submit_btn{
    padding: 2rem 1rem;
    border: 2px solid rgb(69, 71, 71);
    background-color: rgb(145, 255, 218);
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
    border-radius: 3rem;
    transition: all 0.13s ease;
    width: calc(50% - 3rem);
    margin: 0 auto;
    margin-bottom: 3rem;

}

.ivy_submit_btn:active{
    transform: scale(1.1);
}

.ivy_submit_btn:hover{
    background-color: rgba(255, 102, 0, 0.5);
}